@charset "UTF-8";
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  margin: 0;
  font-family: sans-serif;
  color: #000000;
  background-color: #f0e6e6;
}

/*logo de todos los html*/
.logo {
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 50%;
}

/*mis h1*/
h1 {
  text-align: center;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
}

body header .banner {
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: inline-block;
  font-size: 50px;
  color: #E98E9F;
  text-decoration: none;
}

/*parrafos de todos mis html*/
p {
  margin: 0;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding: 5px;
}

main div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .img-dos, main .img-cinco {
  display: none;
}

/* estilos de footer */
footer {
  color: #FF81AE;
  text-align: center;
  font-size: 10px;
  padding: 70px 0;
  margin-top: 30px;
}

/*Estilos para home*/
/*nesting*/
.main__home {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 160px;
  justify-content: center;
  align-content: center;
}
.main__home .main__item {
  display: flex;
  justify-content: space-between;
}
.main__home .main__item .items { /*home: links*/
  width: 100%;
  text-transform: uppercase;
  font-size: 18px;
  list-style: none;
  text-align: center;
  margin-bottom: 10px;
}
.main__home .main__item .items .estilos-link {
  text-decoration: none;
}
.main__home .main__item .imagenes { /*home: imagenes*/
  width: 300px;
  height: 300px;
  box-shadow: 0 0 20px #FF81AE;
  margin-top: 20px;
}

/*animacion*/
.transformer {
  margin: 0 auto;
  margin-top: 40px;
  background-color: #fdb2b2;
  color: #4e4b4b;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 100px;
  position: relative;
  overflow: hidden;
}

.transformer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/flor\ dibujo.PNG);
  background-size: cover;
  opacity: 0;
  transition: opacity 2s ease;
}

.transformer:hover::before {
  opacity: 1;
}

.main__nuestrasclases {
  padding: 15%;
  text-align: justify;
}

/*estilos de main*/
.main__tienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 15%;
  text-align: center;
  align-items: center;
  width: 100%;
}

.img__tienda--tamaño {
  grid-column: span 2;
}

.p__tienda {
  text-align: justify;
}

.button--tamaño {
  grid-column: span 3;
  align-self: flex-start;
}

.btn--tamaño {
  font-size: 30px;
}

.main__testimonios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 200px;
}

.testimonios {
  width: 200px;
  height: 300px;
  border: 4px solid #c99e9e;
  box-shadow: 0px 0px 15px #dda7a7;
  background-color: #fff4f4;
  border-radius: 4px;
  color: #000000;
  text-align: center;
  font-style: oblique;
  font-size: 15px;
  place-self: center;
  margin-right: 10%;
}

.main__quienessomos {
  padding: 15%;
  text-align: justify;
}

/*parrafo de servicios*/
.servicios {
  margin-top: 150px;
  text-align: justify;
}

/*estilos de main */
.main__servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.img__servicios {
  width: 100%;
  height: 210px;
}

.logo__contacto {
  width: 70px !important;
  height: 70px;
  padding: 0;
}

.icon__contacto {
  width: 50px !important;
  height: 50px !important;
  margin: 0;
}

.main__contacto {
  margin-top: 100px;
  text-align: justify;
}

/*titulo de formulario de contacto*/
.p__contacto {
  margin-bottom: 40px;
}

.h2__contacto {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.3em;
  padding: 10px;
}

/*formulario de contacto*/
.form__contacto {
  background-color: transparent;
  padding: 10px 0;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 55px #dda7a7;
  border-radius: 8px;
  font-size: 16px;
}

.form_input {
  padding: 6px 20px;
}

input, textarea {
  width: 50%;
  box-sizing: border-box;
  padding: 6px 20px;
  border: none;
  border: 1px solid #666;
  box-shadow: 0px 0px 15px #dda7a7;
  background-color: transparent;
  border-radius: 4px;
  color: #000000;
}

textarea {
  min-width: 100%;
  resize: none;
  min-height: 102px;
  font-family: sans-serif;
  box-sizing: content;
}

/* estilos de tablet mq tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  /*General*/
  header {
    display: flex;
    flex-direction: row;
  }
  header nav ul {
    display: flex;
    gap: 10px;
  }
  .logo {
    width: 120px;
    height: auto;
    border-radius: 50%;
  }
  .navbar .banner {
    font-size: 35px;
  }
  .navbar .container-fluid {
    align-items: center;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
  }
  .imagenes_comprimidas {
    width: 100%;
    height: 100px;
  }
  /*Home*/
  .main__home {
    flex-wrap: wrap;
  }
  .main__item {
    display: flex;
    flex-direction: row;
  }
  .main__tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 160%;
  }
  .button--tamaño {
    grid-column: span 1;
    align-self: center;
    height: 50%;
  }
  .btn--tamaño {
    font-size: 30px;
  }
  .main__quienessomos {
    margin-top: 10%;
  }
  .servicios {
    margin-top: 20%;
  }
  .main__servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 230px;
  }
  /*contacto*/
  .contacto {
    margin-top: 50px;
  }
  .main__nuestrasclases {
    margin-top: 120px;
  }
  .p__nuestrasclases {
    text-align: justify;
  }
  .main__testimonios {
    width: 110%;
    height: 300px;
    display: flex;
    flex-direction: row;
  }
}
/* estilos de mobile mq mobile */
@media (max-width: 767px) {
  /*General*/
  /*Header*/
  header {
    display: flex;
    flex-direction: row;
  }
  .logo {
    width: 180px;
    height: auto;
    border-radius: 50%;
  }
  .navbar .banner {
    font-size: 60px;
    display: none;
  }
  .navbar .container-fluid {
    align-items: center;
  }
  .navbar-nav .nav-link {
    font-size: 30px;
    text-align: center;
    padding: 5px 0;
  }
  .navbar-toggler-icon {
    width: 100px;
    height: 100px;
  }
  .dropdown-menu {
    font-size: 26px;
  }
  footer {
    margin: 0;
    margin-top: 20px;
    padding: 0;
  }
  /*Home*/
  .main__home {
    margin-top: 200px;
    display: flex;
  }
  .main__item {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .imagenes_comprimidas {
    width: 100%;
    height: 100px;
  }
  .animacion {
    display: none;
  }
  /*Nuestras clases*/
  .h1__nuestrasclases {
    font-size: 60px;
    margin: auto;
  }
  .p__nuestrasclases {
    font-size: 40px;
  }
  /*Tienda*/
  .main__tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20%;
  }
  .h1__tienda {
    font-size: 60px;
    margin: auto;
  }
  .p__tienda {
    font-size: 40px;
  }
  .button--tamaño {
    grid-column: span 1;
    align-self: center;
    height: 50%;
  }
  .btn--tamaño {
    font-size: 20px;
  }
  /*Quienes somos*/
  .main__quienessomos {
    margin-top: 5%;
  }
  .h1__quienessomos {
    font-size: 60px;
  }
  .p__quienessomos {
    font-size: 43px;
  }
  /*Servicios*/
  .main__servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .h1__servicios {
    margin-top: 25%;
    font-size: 60px;
  }
  .p__servicios {
    font-size: 43px;
  }
  .img__servicios {
    width: 100%;
    height: auto;
  }
  /*Contacto*/
  .main__contacto {
    margin-top: 100px;
  }
  .h1__contacto {
    font-size: 40px;
  }
  .p__contacto {
    display: none;
    margin-top: 30px;
    font-size: 30px;
  }
  .form__contacto {
    width: 100%;
  }
  /*Nuestras clases*/
  .main__nuestrasclases {
    margin-top: 170px;
  }
  .p__nuestrasclases {
    text-align: justify;
  }
  /*Testimonios*/
  .main__testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .h1__testimonios {
    font-size: 60px;
  }
  .p__testimonios {
    font-size: 43px;
    text-align: center;
  }
  .testimonios {
    font-size: 40px;
    width: 140%;
    height: auto;
  }
}

/*# sourceMappingURL=css.css.map */
