/*RESET*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body*/

body{
    margin: 0;
    font-family: sans-serif;
    color: #000000;
    background-color: #f0e6e6
}

/*logo de todos los html*/

.logo {
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
}

/*mis h1*/

body header .banner {
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    font-size: 50px;
    color: #E98E9F;
    text-decoration: none;
}

/*home: links e imagenes*/

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

/*home: links*/

.items {
    width: 100%;
    font-family: sans-serif;
    gap: 20px;
    text-transform: uppercase;
    font-size: 12px;
    list-style: none;
    text-align: center;
    margin-left: 50%;
}

/*home: imagenes*/

.imagenes {
    width: 300px;
    height: 300px;
    display: inline-block;
    flex-direction: row;
    margin-left: 50%;
}


/*parrafo de servicios*/

.servicios{
    margin-top: 150px;
    text-align: justify;
    padding: auto;
}

/*titulo de contacto*/

h2{
    text-align:left;
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.3em;
    padding: 10px;
}

/*titulo de formulario de contacto*/

h5{
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
}

/*formulario de contacto*/

form {
    background-color: transparent;
    padding: 10px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #dda7a7;
    border-radius: 8px;
    font-size: 16px;
}

.form_input {
    padding: 6px 20px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 20px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #dda7a7;
    background-color: transparent;
    border-radius: 4px;
    color: #000000
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 102px;
    font-family: sans-serif;
    box-sizing: content;
}

/*parrafos de todos mis html*/

p{
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding: 5px;
}

/*estilos de main*/

main{
    margin: 0px 30px;
    height: 70vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 25%);
    align-content: center;
    row-gap: 10px;
    margin-top: 120px;
    padding: auto;
    margin-bottom: 10px;
}

main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


main .img-dos, main .img-cinco{
    display: none;
}

.main-nc{
    margin: 0px 30px;
    height: 70vh;
    margin-top: 120px;
    display: inline-block;
    text-align: justify;
}

.contacto{
    margin: 0px 20px;
    height: 70vh;
    display: inline-block;
    text-align: justify;
}

.quienessomos{
    text-align: justify;
}

.testim {
    width: 200px;
    height: 300px;
    margin-left: 20%;
    border: 4px solid #c99e9e;
    box-shadow: 0px 0px 15px #dda7a7;
    background-color: #fff4f4;
    border-radius: 4px;
    color: #000000;
    text-align: center;
    font-style: oblique;
    font-size: 15px;
    
}

/*animaciones*/

.transformer{
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fdb2b2;
    color: #4e4b4b;
    text-align: center;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 100px;
    position: relative;
    overflow: hidden;
}

.transformer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../imagenes/flor\ dibujo.PNG);
    background-size: cover;
    opacity: 0;
    transition: opacity 2s ease;
}

.transformer:hover::before{
    opacity: 1;
}

.transformer:hover{
    filter: grayscale(50%);
}


/* estilos de mobile mq mobile */

@media screen and (max-width: 767px){
    body{
        font-size: 1.7rem;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav ul {
        display: flex;
        gap: 10px;
    }

    .banner {
        font-size: 30px;
    }

    .navbar .container-fluid {
        justify-content: space-between;
    }

    .navbar-nav .nav-link {
        font-size: 18px; 
    }

    .imagenes {
        width: 100%; 
        height: 100px;
        display: block;
}

.servicios{
    margin-top: 350px;
}

.contacto{
    margin-top: 300px;
}

    .main-nc{
        margin-top: 350px;
    }

    main{
        margin-top: 350px;
        grid-template-columns: 20% auto 15%;
        grid-template-rows: 80px 1fr 1fr 60px;
        column-gap: 10px;
    }

    main .img-cuatro, main .img-cinco, main .img-dos{
        grid-column: span 2;
    }
}

/* estilos de tablet mq tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    body{
        font-size: 1.7rem;
    }

    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40%);
        column-gap: 10px;
    }

    main .img-cuatro, main .img-cinco, main .img-dos{
        grid-column: span 2;
    }

    /* Estilos para el encabezado */
    .navbar {
        padding: 1rem;
    }

    .logo {
        max-width: 150px; /* Ajusta el tamaño del logo */
    }

    .banner {
        font-size: 1.5rem; /* Ajusta el tamaño del texto del banner */
    }

    /* Ajusta el tamaño y espaciado de los elementos del menú */
    .navbar-nav {
        flex-direction: row;
    }

    .nav-item {
        margin-right: 1rem;
    }

    .offcanvas-body {
        padding: 1rem;
    }

    .contacto{
        margin-top: 100px;
    }

    /* Estilos para las imágenes en el main */
    .imagenes {
        max-width: 100%; 
        height: auto;
    }

    main {
        padding: 2rem;
    }

    .items {
        font-size: 1.2rem; 
        margin-bottom: 1rem;
    }

    /* Estilos para el pie de página */
    footer {
        padding: 1rem;
        font-size: 0.9rem;
    }
}

/* estilos desktop mq desktop */

@media screen and (min-width:1024px){
    main .img-dos, main .img-cinco{
        display: block;
    }

    main{
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: 30% 30% 10%;
    }

    main .img-uno, main .img-tres{
        grid-row: span 3;
    }

    main .img-dos, main .img-cuatro{
        grid-column: span 1;
    }

    main .img-cinco, main .img-uno{
        grid-column: span 1;
    }
}

.boton{
    display: flex;
    width: 50%;
    height: 30%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    text-align: center;
    display:inline;
    border-radius: 20px;
    color: #c97878;
    background-color: #f8d9d9;

}

.dropdown-item {
    font-size: 15px;
}

.nav-item{
    font-size: 20px;
}

.offcanvas-title {
    font-size: 25px;
    font-family: sans-serif;
}

/* estilos de footer */

footer{
    margin-top: 50px;
    color: #FF81AE;
    text-align: center;
    font-size: 10px;
}
