@charset "UTF-8";
/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body {
  margin: 0;
  font-family: sans-serif;
  color: #000000;
  background-color: #f0e6e6;
}

/*logo de todos los html*/
.logo {
  width: 120px;
  height: 120px;
  padding: 10px;
  border-radius: 50%;
}

/*mis h1*/
body header .banner {
  font-family: "Playwrite BE VLG", cursive;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  display: inline-block;
  font-size: 50px;
  color: #E98E9F;
  text-decoration: none;
}

/*parrafos de todos mis html*/
p {
  margin: 0;
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 100;
  font-size: 15px;
  padding: 5px;
}

main div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main .img-dos, main .img-cinco {
  display: none;
}

/* estilos de footer */
footer {
  color: #FF81AE;
  text-align: center;
  font-size: 10px;
}

/*Estilos para home*/
/*nesting*/
main .main__item {
  display: flex;
  justify-content: space-between;
}
main div .items { /*home: links*/
  width: 100%;
  text-transform: uppercase;
  font-size: 12px;
  list-style: none;
  text-align: center;
}
main .imagenes { /*home: imagenes*/
  width: 300px;
  height: 300px;
}

.main__home {
  margin: 0px 30px;
  height: 70vh;
  align-content: center;
  row-gap: 10px;
  margin-top: 120px;
  padding: auto;
  margin-bottom: 10px;
}

/*animacion*/
.transformer {
  margin: 0 auto;
  margin-top: 20px;
  background-color: #fdb2b2;
  color: #4e4b4b;
  text-align: center;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  font-size: 100px;
  position: relative;
  overflow: hidden;
}

.transformer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../imagenes/flor\ dibujo.PNG);
  background-size: cover;
  opacity: 0;
  transition: opacity 2s ease;
}

.transformer:hover::before {
  opacity: 1;
}

.main__nuestrasclases {
  padding: 15%;
  text-align: justify;
}

/*estilos de main*/
.main__tienda {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 15%;
  text-align: center;
  align-items: center;
  width: 100%;
}

.img__tienda--tamaño {
  grid-column: span 2;
}

.p__tienda {
  text-align: justify;
}

.button--tamaño {
  grid-column: span 3;
  align-self: flex-start;
}

.btn--tamaño {
  font-size: 30px;
}

.main__testimonios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  padding: 200px;
}

.testimonios {
  width: 200px;
  height: 300px;
  border: 4px solid #c99e9e;
  box-shadow: 0px 0px 15px #dda7a7;
  background-color: #fff4f4;
  border-radius: 4px;
  color: #000000;
  text-align: center;
  font-style: oblique;
  font-size: 15px;
  place-self: center;
  margin-right: 10%;
}

.main__quienessomos {
  padding: 15%;
  text-align: justify;
}

/*parrafo de servicios*/
.servicios {
  margin-top: 150px;
  text-align: justify;
}

/*estilos de main */
.main__servicios {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.img__servicios {
  width: 100%;
  height: 210px;
}

/*titulo de contacto*/
h2 {
  text-align: left;
  margin: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  padding: 10px;
}

/*titulo de formulario de contacto*/
h5 {
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 1.3em;
  padding: 10px;
}

/*formulario de contacto*/
form {
  background-color: transparent;
  padding: 10px 0;
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 55px #dda7a7;
  border-radius: 8px;
  font-size: 16px;
}

.form_input {
  padding: 6px 20px;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 6px 20px;
  border: none;
  border: 1px solid #666;
  box-shadow: 0px 0px 15px #dda7a7;
  background-color: transparent;
  border-radius: 4px;
  color: #000000;
}

textarea {
  min-width: 100%;
  resize: none;
  min-height: 102px;
  font-family: sans-serif;
  box-sizing: content;
}

.main__contacto {
  padding: 15%;
  height: 70vh;
  text-align: justify;
}

/* estilos de mobile mq mobile */
@media screen and (max-width: 767px) {
  body {
    font-size: 1.7rem;
  }
  header {
    display: flex;
    flex-direction: row;
  }
  header nav ul {
    display: flex;
    gap: 10px;
  }
  .logo {
    width: 100px;
    height: auto;
    border-radius: 50%;
  }
  .navbar .banner {
    font-size: 30px;
    display: none;
  }
  .navbar .container-fluid {
    align-items: center;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
  }
  .main__home {
    display: flex;
    height: auto;
  }
  .main__item {
    flex-direction: column;
    margin-top: 10%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .imagenes_comprimidas {
    width: 100%;
    height: 100px;
  }
  .animacion {
    display: none;
  }
  .main__tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30%;
  }
  .button--tamaño {
    grid-column: span 1;
    align-self: center;
    height: 50%;
  }
  .btn--tamaño {
    font-size: 20px;
  }
  .main__quienessomos {
    margin-top: 15%;
  }
  .main__servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .main__contacto {
    margin-top: 70px;
  }
  .main__nuestrasclases {
    margin-top: 170px;
  }
  .p__nuestrasclases {
    text-align: justify;
  }
  .main__testimonios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
/* estilos de tablet mq tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 1.7rem;
  }
  header {
    display: flex;
    flex-direction: row;
  }
  header nav ul {
    display: flex;
    gap: 10px;
  }
  .logo {
    width: 120px;
    height: auto;
    border-radius: 50%;
  }
  .navbar .banner {
    font-size: 35px;
  }
  .navbar .container-fluid {
    align-items: center;
  }
  .navbar-nav .nav-link {
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
  }
  .main__item {
    display: flex;
    flex-direction: row;
  }
  .imagenes_comprimidas {
    width: 100%;
    height: 100px;
  }
  .main__tienda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 160%;
  }
  .button--tamaño {
    grid-column: span 1;
    align-self: center;
    height: 50%;
  }
  .btn--tamaño {
    font-size: 30px;
  }
  .main__quienessomos {
    margin-top: 10%;
  }
  .servicios {
    margin-top: 20%;
  }
  .main__servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 230px;
  }
  .contacto {
    margin-top: 50px;
  }
  .main__nuestrasclases {
    margin-top: 120px;
  }
  .p__nuestrasclases {
    text-align: justify;
  }
  .main__testimonios {
    width: 110%;
    height: 300px;
    display: flex;
    flex-direction: row;
  }
}

/*# sourceMappingURL=css.css.map */
