.main__contacto {
    margin-top: 160px;
    text-align: justify;
}
/*titulo de formulario de contacto*/
.p__contacto {
margin-bottom: 40px;
}

.h2__contacto {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
}

/*formulario de contacto*/
.form__contacto {
    background-color: transparent;
    padding: 10px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #dda7a7;
    border-radius: 8px;
    font-size: 16px;
}

.form_input {
    padding: 6px 20px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 6px 20px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0px 0px 15px #dda7a7;
    background-color: transparent;
    border-radius: 4px;
    color: #000000
}

textarea{
    min-width: 100%;
    resize: none;
    min-height: 102px;
    font-family: sans-serif;
    box-sizing: content;
}

