/*Estilos para home*/ 
/*nesting*/
.main__home{
    display: flex;
    flex-direction: column;
    margin-top: 160px;
    .main__item {
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
    .items { /*home: links*/
        width: 100%;
        text-transform: uppercase;
        font-size: 18px;
        list-style: none;
        text-align: center;
        margin-bottom: 10px;
        .estilos-link {
            text-decoration: none;
        }
    }
    .imagenes { /*home: imagenes*/
        @include medidas (300px, 300px);
        box-shadow: 0 0 20px #FF81AE;
        margin-top: 20px;
    }
}
}
/*animacion*/
.transformer{
    margin: 0 auto;
    margin-top: 40px;
    background-color: #fdb2b2;
    color: #4e4b4b;
    text-align: center;
    border-radius: 50%;
    @include medidas(150px, 150px);
    font-size: 100px;
    position: relative;
    overflow: hidden;
}

.transformer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include medidas (100%, 100%);
    background-image: url(../imagenes/flor\ dibujo.PNG);
    background-size: cover;
    opacity: 0;
    transition: opacity 2s ease;
}
.transformer:hover::before{
    opacity: 1;
}
