/*Estilos para home*/ 
/*nesting*/
main {
    .main__item {
    display: flex;
    justify-content: space-between;
}
div .items { /*home: links*/
    width: 100%;
    text-transform: uppercase;
    font-size: 12px;
    list-style: none;
    text-align: center;
}
.imagenes { /*home: imagenes*/
    @include medidas (300px, 300px);
}
}

main{ //cambiar
    margin: 0px 30px;
    height: 70vh;
    align-content: center;
    row-gap: 10px;
    margin-top: 120px;
    padding: auto;
    margin-bottom: 10px;
}

/*animacion*/
.transformer{
    margin: 0 auto;
    margin-top: 20px;
    background-color: #fdb2b2;
    color: #4e4b4b;
    text-align: center;
    border-radius: 50%;
    @include medidas(150px, 150px);
    font-size: 100px;
    position: relative;
    overflow: hidden;
}

.transformer::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    @include medidas (100%, 100%);
    background-image: url(../imagenes/flor\ dibujo.PNG);
    background-size: cover;
    opacity: 0;
    transition: opacity 2s ease;
}

.transformer:hover::before{
    opacity: 1;
}
