/* estilos de mobile mq mobile */

@media screen and (max-width: 767px){
    body{
        font-size: 1.7rem;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    header nav ul {
        display: flex;
        gap: 10px;
    }

    .banner {
        font-size: 30px;
    }

    .navbar .container-fluid {
        justify-content: space-between;
    }

    .navbar-nav .nav-link {
        font-size: 18px; 
    }

    .imagenes_comprimidas {
        width: 100%; 
        height: 100px;
        display: block;
}

    .servicios{
    margin-top: 350px;
}

    .contacto{
    margin-top: 300px;
}

    .main-nc{
        margin-top: 350px;
        padding-top: 500px;
    }

    .main__tienda{
        margin-top: 350px;
        grid-template-columns: 20% auto 15%;
        grid-template-rows: 80px 1fr 1fr 60px;
        column-gap: 10px;
    }

    main .img__tienda, main .img__tienda--dos, main .img__tienda--cuatro{
        grid-column: span 2;
    }

    .main__servicios{
        margin-top: 350px;
        grid-template-columns: 20% auto 15%;
        grid-template-rows: 80px 1fr 1fr 60px;
        column-gap: 10px;
    }

    main .img__servicios, main img__servicios--dos, main .img__servicios--cuatro{
        grid-column: span 2;
    }


}

/* estilos de tablet mq tablet */

@media (min-width: 768px) and (max-width: 1024px) {
    body{
        font-size: 1.7rem;
    }

    main__tienda{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40%);
        column-gap: 10px;
    }

    main .img__tienda--cuatro, main .img__tienda--cinco, main .img__tienda--dos{
        grid-column: span 2;
    }

    .main__servicios{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 40%);
        column-gap: 10px;
    }

    main .img__servicios--dos, main .img__servicios--tres, .img__servicios--cuatro{
        grid-column: span 2;
    }

    /* Estilos para el encabezado */
    .navbar {
        padding: 1rem;
    }

    .logo {
        max-width: 150px; /* Ajusta el tamaño del logo */
    }

    .banner {
        font-size: 1.5rem; /* Ajusta el tamaño del texto del banner */
    }

    /* Ajusta el tamaño y espaciado de los elementos del menú */
    .navbar-nav {
        flex-direction: row;
    }

    .nav-item {
        margin-right: 1rem;
    }

    .offcanvas-body {
        padding: 1rem;
    }

    .contacto{
        margin-top: 100px;
    }

    /* Estilos para las imágenes en el main */
    .imagenes_comprimidas {
        max-width: 100%; 
        height: auto;
    }

    /main { 
        padding: 2rem;
    }

    .items {
        font-size: 1.2rem; 
        margin-bottom: 1rem;
    }

    /* Estilos para el pie de página */
    footer {
        padding: 1rem;
        font-size: 0.9rem;
    }
}