/* estilos de tablet mq tablet */

@media (min-width: 768px) and (max-width: 1024px) {
/*General*/
    header{
        display: flex;
        flex-direction: row;
    }

    header nav ul {
        display: flex;
        gap: 10px;
    }

    .logo{
        width: 120px; 
        height: auto;
        border-radius: 50%;
    }

    .navbar .banner {
        font-size: 35px;
    }

    .navbar .container-fluid {
        align-items: center;
    }

    .navbar-nav .nav-link {
        font-size: 14px; 
        text-align: center;
        padding: 5px 0;
    }

    .imagenes_comprimidas {
        width: 100%; 
        height: 100px;
    }
/*Home*/
    .main__home {
        flex-wrap: wrap;
    }
    .main__item{
        display: flex;
        flex-direction: row;
    }

    .main__tienda {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 160%;
}

    .button--tamaño {
        grid-column: span 1;
        align-self: center;
        height: 50%;
}

    .btn--tamaño {
        font-size: 30px;
}

    .main__quienessomos{
        margin-top: 10%;
    }

    .servicios{
        margin-top: 20%;
}

    .main__servicios {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 230px;
    }
/*contacto*/
    .contacto{
        margin-top: 50px;
}

    .main__nuestrasclases{
        margin-top: 120px;
    }

    .p__nuestrasclases{
        text-align: justify;
    }

    .main__testimonios{
        width: 110%;
        height: 300px;
        display: flex;
        flex-direction: row;
    }
}

/* estilos de mobile mq mobile */

@media screen and (max-width: 767px){
    /*General*/
    /*Header*/
        header{
            display: flex;
            flex-direction: row;
        }
    
        .logo {
            width: 180px; 
            height: auto;
            border-radius: 50%;
        }
    
        .navbar .banner {
            font-size: 60px;
            display: none;
        }
    
        .navbar .container-fluid {
            align-items: center;
        }
    
        .navbar-nav .nav-link {
            font-size: 30px; 
            text-align: center;
            padding: 5px 0;
        }
    
        .navbar-toggler-icon {
            width: 100px;
            height: 100px;
        }
    
        .dropdown-menu{
            font-size: 26px;
        }
    
        footer {
        margin: 0;
        margin-top: 20px;
        padding: 0;
        }
    /*Home*/
        .main__home{
            margin-top: 200px;
            display: flex;
        }
    
        .main__item{
            flex-direction: column;
            gap: 40px;
            align-items: center;
        }
    
        .imagenes_comprimidas {
            width: 100%; 
            height: 100px;
    }
    
        .animacion{
            display: none;
    }
    /*Nuestras clases*/
        .h1__nuestrasclases{
            font-size: 60px;
            margin: auto;
    }
    
        .p__nuestrasclases{
            font-size: 40px;
        }
    /*Tienda*/
        .main__tienda {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin-top: 20%;
    }
    
        .h1__tienda{
            font-size: 60px;
            margin: auto;
        }
    
        .p__tienda{
            font-size: 40px;
        }
    
        .button--tamaño {
            grid-column: span 1;
            align-self: center;
            height: 50%;
    }
    
        .btn--tamaño {
            font-size: 20px;
    }
    /*Quienes somos*/
        .main__quienessomos{
            margin-top: 5%;
        }
    
        .h1__quienessomos{
            font-size: 60px;
        }
    
        .p__quienessomos{
            font-size: 43px;
        }
    /*Servicios*/
        .main__servicios {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    
        .h1__servicios{
            margin-top: 25%;
            font-size: 60px;
        }
    
        .p__servicios{
            font-size: 43px;
        }
    
        .img__servicios{
            width: 100%;
            height: auto;
        }
    /*Contacto*/
        .main__contacto{
            margin-top: 100px;
    }
    
        .h1__contacto{
            font-size: 40px;
        }
    
        .p__contacto{
            display: none;
            margin-top: 30px;
            font-size: 30px;
        }
    
        .form__contacto{
            width: 100%;
        }
    /*Nuestras clases*/
        .main__nuestrasclases{
            margin-top: 170px;
        }
    
        .p__nuestrasclases{
            text-align: justify;
        }
    /*Testimonios*/
        .main__testimonios{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }
    
        .h1__testimonios{
            font-size: 60px;
        }
    
        .p__testimonios{
            font-size: 43px;
            text-align: center;
        }
    
        .testimonios{
            font-size: 40px;
            width: 140%;
            height: auto;
        }
    
    }
    