/* estilos de mobile mq mobile */
@media screen and (max-width: 480px){
    /*General*/
    /*Header*/
        header{
            display: flex;
            flex-direction: row;
        }
        .logo {
            width: 100px; 
            height: auto;
            border-radius: 50%;
        }
        .navbar-toggler-icon {
            width: 50px;
            height: 60px;
        }
        .navbar .banner {
            font-size: 60px;
            display: none;
        }
        .navbar .container-fluid {
            align-items: center;
        }
        .btn-close {
            font-size: 30px;
        }
        .nav-link {
            font-size: 1.6em; 
            text-align: center;
            padding: 30px 0;
        }
        .sub--pestañas {
            font-size: 0.8em;
            text-align: center;
        }
        .offcanvas-backdrop.show {
            opacity: 0;
        }
        .titulo--pestaña {
            font-size: 2em;
            padding-left: 20px;
            font-weight: bold;
        }
        .dropdown-menu{
            font-size: 26px;
        }
        p {
            font-size: 1.2em;
        }
        footer {
            margin: 0;
            margin-top: 20px;
            padding: 0;
        }
    /*Home*/
        .main__home{
            margin-top: 120px;
            display: flex;
        }
        .main__item{
            flex-direction: column;
            gap: 40px;
            align-items: center;
            padding: 0;
        }
        .imagenes_comprimidas {
            width: 100%; 
            height: 100px;
    }
        .animacion{
            display: none;
    }
    /*Tienda*/
        .main__tienda{
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
        .h1__tienda {
            font-size: 2em;
        }
        .p__tienda{
            font-size: 1.4em;
        }
        .btn--tamaño {
            font-size: 20px;
        }
    /*Quienes somos*/
        .main__quienessomos{
            margin-top: 160px;
        }
        .h1__quienessomos{
            font-size: 2em;
        }
        .p__quienessomos{
            font-size: 1.3em;
            padding: 0 10px;
            text-align: justify;
        }
    /*Servicios*/
    .servicios {
        padding: 0 20px;
    }
    .main__servicios {
        display: flex;
        flex-direction: column;
    }
    /*Contacto*/
        .main__contacto{
            margin-top: 140px;
        }
    
        .h1__contacto{
            font-size: 40px;
            margin-bottom: 20px;
        }
    
        .p__contacto{
            display: none;
            margin-top: 30px;
            font-size: 30px;
        }
    
        .form__contacto{
            width: 100%;
        }
    /*Nuestras clases*/
        .main__nuestrasclases {
            margin-top: 140px;
        }
        .h1__nuestrasclases {
            font-size: 2.3em;
        }
        .p__nuestrasclases {
            font-size: 1.5em;
        }
        .texto__oculto {
            display: none;
        }
    /*Testimonios*/
        .main__testimonios{
            display: flex;
            flex-direction: column;
        }
    
        .h1__testimonios{
            font-size: 2.7em;
            margin-top: 150px;
        }
        .testimonios{
            width: 100%;
            font-size: 1.3em;
        }
    /*Nav Contacto*/
    .logo--contacto {
        font-size: 5px !important;
    }
    }

/* estilos de tablet mq tablet */
@media (min-width: 481px) and (max-width: 1023px) {
/*General*/
    header{
        display: flex;
        flex-direction: row;
    }
    header nav ul {
        display: flex;
        gap: 10px;
    }
    .navbar .banner {
        font-size: 35px;
        display: none;
    }
    .navbar .container-fluid {
        align-items: center;
        padding: 0 10px;
    }
    .imagenes_comprimidas {
        width: 100%; 
        height: 100px;
    }
/*Home*/
/*Tienda*/
    .main__tienda {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
}
    .p__tienda {
        padding: 0 20px;
    }
/*Quienes somos*/
    .main__quienessomos{
        padding: 0;
    }
/*Servicios*/
.servicios {
    padding: 0 20px;
}
.main__servicios {
    display: flex;
    flex-direction: column;
}
/*contacto*/
    .contacto{
        margin-top: 50px;
}
/*nuestras clases*/
    .p__nuestrasclases{
        text-align: justify;
    }
/*Testimonios*/
    .main__testimonios{
        display: flex;
        gap: 80px;
        }
}

