/*estilos de main*/

.main__tienda{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 15%;
    text-align: center;
    align-items: center;
    width: 100%;
}

.img__tienda--tamaño {
    grid-column: span 2;
}

.p__tienda{
    text-align: justify;
}

.button--tamaño {
    grid-column: span 3;
    align-self:flex-start;
}

.btn--tamaño {
    font-size: 30px;
}

