/*estilos de main*/
.main__tienda {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    align-items: center;
    gap: 20px;
}
.img__tienda--tamaño {
    grid-column: span 2;
}
.h1__tienda {
    margin-top: 150px;
    margin-bottom: 20px;
}
.p__tienda{
    text-align: justify;
    width: 100%;
}
.btn--tamaño {
    font-size: 30px;
}

