/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: sans-serif;
    color: #000000;
    background-color: $color-principal;
}
.conteiner-desktop {
    padding: 0 10px;
}
.logo {
    width: 120px;
    height: 120px;
    padding: 10px;
    border-radius: 50%;
}
.navbar-toggler {
    width: 80px;
    height: 80px;
}
.navbar-toggler-icon {
width: 50px;
height: 50px;
}
.nav-link {
    font-size: 30px; 
    text-align: center;
    padding: 5px 0;
}
.sub--pestañas {
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.titulo--pestaña {
padding-left: 50px;
}
h1 {
    text-align:center;
    margin: 0;
    font-family: sans-serif;
    font-weight: bold;
}
.banner {
    font-family: "Playwrite BE VLG", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    display: inline-block;
    font-size: 50px;
    color: #E98E9F;
    text-decoration: none;
}
/*parrafos de todos mis html*/
main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main .img-dos, main .img-cinco{
    display: none;
}
/* estilos de footer */
p {
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 15px;
    padding: 5px;
}
footer {
    color: #FF81AE;
    text-align: center;
    padding: 70px 0;
    margin-top: 30px;
}
